/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-view > .viewport {
	-fx-background-color: white;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: white;
}

.header-view {
	-fx-background-color: #ff6c57;
}

.header-title {
	-fx-text-fill: white;
}

.btn-select-view{
	-fx-text-fill: #deebf7;
}

.btn-select-view:selected {
	-fx-background-color: #FFDDE6;
}

.category-title {
	-fx-text-fill: #ff6c57;
}

.menu-view {
	-fx-background-color: #f6f6f6;
}

.menu-pane > .viewport {
	-fx-background-color: #f6f6f6;
}

.command-box {
	-fx-background-color: #f7f7f7;
}

.command-textfield {
	-fx-background-color: white;
	-fx-text-fill: #303030;
}

.day-box {
	-fx-background-color: white;
}

.day-title {
	-fx-text-fill: #FF5E3A;
}

.task-id {
	-fx-text-fill: #c0c0c0;
}

.task-name {
	-fx-text-fill: #393939;
}

.task-period {
	-fx-font-size: 13px;
	-fx-text-fill: #FF3B30;
}

.task-checkbox .box {
	-fx-background-color: white;
	-fx-border-color: #d0d0d0;
}

.task-pane-icon {
	-fx-fill: #f0f0f0;
}

.task-message {
	-fx-text-fill: #909090;
}

.command-helper-list-view:focused, .command-helper-list-view:selected {
	-fx-background-color: #ff6c57;
	-fx-text-fill: white;
}

.command-helper-list-view {
	-fx-text-fill: #262626;
}

.command-helper-list-view:odd, .command-helper-list-view:even {
	-fx-background-color: white;
}

.command-helper-list-view:selected:focused, .command-helper-list-view:filled:selected {
	-fx-background-color: #ff6c57;
	-fx-text-fill: white;
}





