/* @@author A0124278A */
/**
 * 
 * @author Wu Wenqi
 *
 */
 
.main-view > .viewport {
	-fx-background-color: #262626;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: #262626;
}

.header-view {
	-fx-background-color: #353535;
}

.header-title {
	-fx-text-fill: white;
}

.btn-select-view{
	-fx-text-fill: #deebf7;
}

.btn-select-label{
	-fx-text-fill: #f7f7f7;
}

.btn-select-view:selected {
	/*-fx-background-color: linear-gradient(from 15% 15% to 75% 75%, #2e75b6, #314e79);*/
	-fx-background-color: #2e75b6;
}

.category-title {
	-fx-text-fill: #52e8e5;
}

.category-name {
	-fx-text-fill: #deebf7;
}

.menu-view {
	/*-fx-background-color: linear-gradient(from 25% 25% to 75% 75%, #222a35, #1f4e79);*/
	-fx-background-color: #3b3b3b;
}

.menu-pane > .viewport {
	-fx-background-color: #3b3b3b;
}

.command-box {
	-fx-background-color: #3b3b3b;
}

.command-textfield {
	-fx-background-color: #262626;
	-fx-text-fill: #f7f7f7;
}

.day-box {
	-fx-background-color: #262626;
}

.day-title {
	-fx-text-fill: #52e8e5;
}

.day-task-box {
	-fx-padding: 13 0 13 0;
	-fx-border-color: transparent transparent #353535 transparent;
}

.task-checkbox .box {
	-fx-background-color: #404040;
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-border-color: #606060;
}

.task-pane-icon {
	-fx-fill: #333F50;
}

.task-message {
	-fx-text-fill: #ebebeb;
}

.task-id {
	/*-fx-text-fill: #585858;*/
	-fx-text-fill: #ff6c57;
}

.task-name {
	-fx-text-fill: #ebebeb;
}

.task-period {
	-fx-font-size: 13px;
	-fx-text-fill: #C7C7CC;
}

.task-period-overdue {
	-fx-text-fill: red;
}

.task-category-label {
	-fx-text-fill: #ebebeb;
}