/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-view > .viewport {
	-fx-background-color: white;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: white;
}

.header-view {
	-fx-background-color: #5AC8FB;
}

.header-title {
	-fx-text-fill: white;
}

.btn-select-view{
	-fx-text-fill: #deebf7;
}

.btn-select-label{
	-fx-text-fill: #303030;
}

.btn-select-view:selected {
	-fx-background-color: #D1EEFC;
}

.category-title {
	-fx-text-fill: #5AC8FB;
}

.category-name {
	-fx-text-fill: #303030;
}

.menu-view {
	-fx-background-color: #f7f7f7;
}

.menu-pane > .viewport {
	-fx-background-color: #f7f7f7;
}

.command-box {
	-fx-background-color: #f7f7f7;
}

.command-textfield {
	-fx-background-color: white;
	-fx-text-fill: #303030;
}

.day-box {
	-fx-background-color: white;
}

.day-title {
	-fx-text-fill: #5AC8FB;
}

.day-task-box {
	-fx-border-color: transparent transparent #f0f0f0 transparent;
}

.task-checkbox .box {
	-fx-background-color: white;
	-fx-border-color: #d0d0d0;
}

.task-pane-icon {
	-fx-fill: #5AC8FB;
}

.task-id {
	-fx-text-fill: #c0c0c0;
}

.task-name {
	-fx-text-fill: #262626;
}

.task-period {
	-fx-text-fill: #262626;
}