/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-view > .viewport {
	-fx-background-color: #262626;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: #262626;
}

.header-view {
	-fx-background-color: #333F50;
}

.header-title {
	-fx-text-fill: white;
}

.btn-select-view{
	-fx-text-fill: #deebf7;
}

.btn-select-label{
	-fx-text-fill: #f7f7f7;
}

.btn-select-view:selected {
	-fx-background-color: linear-gradient(from 15% 15% to 75% 75%, #2e75b6, #314e79);
}

.category-title {
	-fx-text-fill: #deebf7;
}

.category-name {
	-fx-text-fill: #deebf7;
}

.menu-view {
	-fx-background-color: linear-gradient(from 25% 25% to 75% 75%, #222a35, #1f4e79);
}

.command-box {
	-fx-background-color: #3b3b3b;
}

.command-textfield {
	-fx-background-color: #262626;
	-fx-text-fill: #f7f7f7;
}

.day-box {
	-fx-background-color: #262626;
}

.day-title {
	-fx-text-fill: #deebf7;
}

.day-task-box {
	-fx-padding: 13 0 13 0;
	-fx-border-color: transparent transparent #404040 transparent;
}

.task-checkbox .box {
	-fx-background-color: #404040;
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-border-color: #606060;
}

.task-pane-icon {
	-fx-fill: #333F50;
}

.task-message {
	
}

.task-id {
	-fx-text-fill: #585858;
}

.task-name {
	-fx-text-fill: #e1e1e1;
}

.task-period {
	-fx-text-fill: #bdd7ee;
}