.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.day-title-faded {
	-fx-opacity: 0.4;
}

.day-task-box {
	-fx-padding: 13 0 13 0;
	-fx-border-color: transparent transparent #f0f0f0 transparent;
}

.task-checkbox .box {
	-fx-background-color: white;
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-border-color: #d0d0d0;
}

.task-checkbox .box:hover {
	-fx-border-color: #ff6c57;
}

.message-box-label {
	-fx-background-color: rgba(10, 10, 10, 0.6);
	-fx-background-radius: 10;
	-fx-text-fill: #f0f0f0;
	-fx-padding: 0 20 0 20;
	-fx-border-color: transparent;
	-fx-border-radius: 10;
}